.turn-flipbook{
	overflow:visible;
}

.turn-flipbook .loader{
	width:22px;
	height:22px;
	position:absolute;
	top: 50%;
	left: 50%;
}
.turn-flipbook .loader > i {
	background-image:url(../imgs/loader.gif);
	width:22px;
	height:22px;
	display:inline-block;
	position:relative;
	top:-11px;
	left:-11px;
}

.turn-flipbook .gradient{
	position:absolute;
	top:0;
	right:0;
	width:20px;
	height:100%;
}

.turn-flipbook.double .even .gradient {
	background:-webkit-gradient(linear, left top, right top, color-stop(0, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image:-o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image:linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
}

.turn-flipbook.double .odd .gradient,
.turn-flipbook.single .even .gradient{
	position:absolute;
	top:0;
	left:0;
	width:20px;
	height:100%;
	border-left:1px solid rgba(0,0,0,0.30);
	background:-webkit-gradient(linear, right top, left top, color-stop(0, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,0.2)));
	background-image:-webkit-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image:-moz-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image:-ms-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image:-o-linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
	background-image:linear-gradient(right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
}


.turn-flipbook .control{
	position:absolute;
	width:25px;
	height:100%;
	background:#555;
	opacity:0;
}

.turn-flipbook .control:hover{
	opacity:0.6;
}

.turn-flipbook.first-page .control-next-page,
.turn-flipbook.last-page .control-previous-page{
	opacity:0.6;
	-webkit-transition:opacity 200ms ease-in-out;
	-moz-transition:opacity 200ms ease-in-out;
	-ms-transition:opacity 200ms ease-in-out;
	-o-transition:opacity 200ms ease-in-out;
	transition:opacity 200ms ease-in-out;
 }

 .turn-flipbook.first-page .control-previous-page,
 .turn-flipbook.last-page .control-next-page{
 	display:none;
 }

.turn-flipbook .control:active{
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	transition:none;
	opacity:1;
}

.turn-flipbook .control > div{
	position:absolute;
	top:50%;
}

.turn-flipbook .control > div > i{ 
	margin-top:-50%;
	display:inline-block;
	width:20px;
	height:20px;
	background-image:url(../imgs/icons@2x.png);
	background-size:500px 20px;
}

.turn-flipbook .control-next-page{
	top:0;
	right:-25px;
	border-radius:0 10px 10px 0;
}

.turn-flipbook .control-next-page > div{
	left:2px;
}

.turn-flipbook .control-previous-page > div{
	right:2px;
}

.turn-flipbook .control-next-page > div > i{
	background-position:-140px 0;
}

.turn-flipbook .control-previous-page{
	top:0;
	left:-25px;
	border-radius:10px 0 0 10px;
}

.turn-flipbook .control-previous-page > div > i{
	background-position:-120px 0;
}


.turn-book{

}